<h2 mat-dialog-title>Sign In or Sign Up</h2>
<mat-dialog-content class="dialog">
  <login-form />
  <grid [cols]="[1]" [flex]="true" justifyContent="center">
    <button
      mat-raised-button
      color="primary"
      style="width: min-content; white-space: nowrap;"
      (click)="attemptSignIn()"
    >
      Sign In
    </button>
  </grid>
</mat-dialog-content>
<mat-dialog-actions style="justify-content: end;">
  <button mat-raised-button color="primary">Continue</button>
</mat-dialog-actions>
