$md-accentpalette: (
  50 : #fef8e9,
  100 : #fdeec7,
  200 : #fbe3a2,
  300 : #f9d77c,
  400 : #f8cf60,
  500 : #f7c644,
  600 : #f6c03e,
  700 : #f5b935,
  800 : #f3b12d,
  900 : #f1a41f,
  A100 : #ffffff,
  A200 : #fffbf4,
  A400 : #ffe7c1,
  A700 : #ffdda7,
  contrast: (
    50 : #000000,
    100 : #000000,
    200 : #000000,
    300 : #000000,
    400 : #000000,
    500 : #000000,
    600 : #000000,
    700 : #000000,
    800 : #000000,
    900 : #000000,
    A100 : #000000,
    A200 : #000000,
    A400 : #000000,
    A700 : #000000,
  )
);
