$md-palette: (
  50 : #e3e7e2,
  100 : #b9c3b7,
  200 : #8a9c88,
  300 : #5b7458,
  400 : #375634,
  500 : #143810,
  600 : #12320e,
  700 : #0e2b0c,
  800 : #0b2409,
  900 : #061705,
  A100 : #58ff58,
  A200 : #25ff25,
  A400 : #00f100,
  A700 : #00d700,
  contrast: (
    50 : #000000,
    100 : #000000,
    200 : #000000,
    300 : #ffffff,
    400 : #ffffff,
    500 : #ffffff,
    600 : #ffffff,
    700 : #ffffff,
    800 : #ffffff,
    900 : #ffffff,
    A100 : #000000,
    A200 : #000000,
    A400 : #000000,
    A700 : #ffffff,
  )
);
