\:host
  &>div:not(.disabled)
    cursor: pointer
  & mat-card
    background: transparent
    & .default-content
      display: grid
      grid-template-rows: 1fr
      grid-template-columns: 1fr 2fr
      column-gap: 24px
      padding: 12px
      &::ng-deep:first-child
        justify-self: end
      &::ng-deep>*
        align-self: center

.icon-wrapper:has(.current-route-marker)
  position: relative
  &>.current-route-marker
    position: absolute
    bottom: 2px
    left: 4px
    height: 4px
    width: 24px
    border-radius: 5px
    background: black
