<div
  matRipple
  [matRippleDisabled]="disabled"
  class="hover-darken"
  [ngClass]="{disabled}"
  (click)="goTo()"
>
  <mat-card class="navigation-item rounded-0">
    <mat-card-content>
      <div #ref><ng-content /></div>
      <div class="default-content">
        @if(!ref.childElementCount) {
          <div class="icon-wrapper">
            <mat-icon aria-hidden="false" aria-label="Home" [fontIcon]="icon" class="material-icons-outlined large" />
            @if(currentRoute) {
              <div class="current-route-marker" [@growXAnimation]></div>
            }
          </div>
          <div class="ma-0 mat-headline-3">{{ text }}</div>
        }
      </div>
    </mat-card-content>
  </mat-card>
</div>
