/* You can add global styles to this file, and also import other style files */
@import "./styles.background-variables"
body
  margin: 0
  overflow: hidden
  background-color: $app-background-color

.mdc-text-field--filled:not(.mdc-text-field--disabled)
  background: none !important

.mat-mdc-form-field-focus-overlay
  background: none !important

.background
  background-color: $app-background-color !important

.route-page-wrapper
  height: 100vh
  max-height: 100vh
  overflow-y: scroll

.primary-content-page-wrapper
  padding: 12px 24px

.disabled
  position: relative
  pointer-events: none
  user-select: none
  -moz-user-select: none
  -webkit-user-select: none
  cursor: default !important
  &>*
    opacity: 0.54

.hover-darken:not(.disabled)
  position: relative
  &:hover::after
    content: ''
    position: absolute
    top: 0
    left: 0
    height: 100%
    width: 100%
    border-radius: inherit
    background-color: rgba(0, 0, 0, 0.03)

mat-icon
  &.large
    $size: 32px
    font-size: $size
    height: $size
    width: $size
  &.x-large
    $size: 48px
    font-size: $size
    height: $size
    width: $size
  &.small
    $size: 18px
    font-size: $size
    height: $size
    width: $size
  &.x-small
    $size: 12px
    font-size: $size
    height: $size
    width: $size
  @for $i from 1 through 24
    &.size-#{$i}
      $size: #{$i * 4px}
      font-size: $size
      height: $size
      width: $size

@for $i from 0 through 24
  $px: #{$i * 4px}
  .pa-#{$i}
    padding: $px
  .px-#{$i}
    padding-left: $px
    padding-right: $px
  .py-#{$i}
    padding-top: $px
    padding-bottom: $px
  .pt-#{$i}
    padding-top: $px
  .pr-#{$i}
    padding-right: $px
  .pb-#{$i}
    padding-bottom: $px
  .pl-#{$i}
    padding-left: $px
  .ma-#{$i}
    margin: $px
  .mx-#{$i}
    margin-left: $px
    margin-right: $px
  .my-#{$i}
    margin-top: $px
    margin-bottom: $px
  .mt-#{$i}
    margin-top: $px
  .mr-#{$i}
    margin-right: $px
  .mb-#{$i}
    margin-bottom: $px
  .ml-#{$i}
    margin-left: $px

@for $i from 0 through 6
  $px: #{$i * 5px}
  .rounded-#{$i}
    border-radius: $px !important

@for $i from 0 through 10
  $width: #{$i * 10%}
  .width-#{$i * 10}
    width: $width
