<div class="primary-content-page-wrapper">
  <div class="content-selector-wrapper">
    <mat-form-field>
      <mat-select class="mat-select-no-drop-arrow" [formControl]="stateCtrl" (focusin)="onFocus(true)" (focusout)="onFocus()">
        <mat-select-trigger>
          {{ contentOptionsMap[contentOption] ?? 'None Selected' }}
          <mat-icon class="mat-select-custom-arrow">expand_more</mat-icon>
        </mat-select-trigger>
        @for (option of ContentOptions.values; track option.key) {
          <mat-option [value]="option.key" [disabled]="option.disabled">{{ option.text }}</mat-option>
        }
      </mat-select>
    </mat-form-field>
  </div>
  @for(post of posts; track post) {
    <post-card [post]="post" />
  }
</div>
