<div class="route-page-wrapper">
  <div id="account-cover-photo">
    <img src="assets/Images/Desktop/Profile/2x/Profile-Cover-Photo-Desktop2x.jpg" alt="Cover Photo">
  </div>
  <div id="account-header">
    <div id="profile-photo">
      <img src="assets/Images/Desktop/Profile/2x/Profile-Profile-Picture-Desktop2x.jpg" alt="Profile Picture">
    </div>
    <div id="profile-context">
      <div class="horizontal-grid">
        <div>
          <div class="mat-headline-3 mb-2">Troy Bennett</div>
          <div class="mat-body-1 mb-1">Greendale Community College</div>
          <div class="mat-body-1">Air Conditioning Repair</div>
        </div>
        <div class="d-flex">
          <button mat-stroked-button color="primary" class="large rounded-2">
            <span class="px-3">Edit Profile</span>
          </button>
          <button mat-raised-button color="primary" class="large rounded-2">
            <span class="px-3 font-weight-400">+ New Post</span>
          </button>
        </div>
      </div>
      <div class="mat-body-2">
        Let's join forces and navigate this academic adventure together! 🚀
        🤝 #StudentLife #ClassOf2026 #FutureLeadership 🌟
      </div>
    </div>
  </div>
</div>
