<div class="route-page-wrapper">
  <div id="account-cover-photo">
    <img src="assets/Images/Desktop/Profile/2x/Profile-Cover-Photo-Desktop2x.jpg" alt="Cover Photo">
  </div>
  <div id="account-header">
    <div id="profile-photo">
      <img src="assets/Images/Desktop/Profile/2x/Profile-Profile-Picture-Desktop2x.jpg" alt="Profile Picture">
    </div>
    <div id="profile-context">
      <div class="horizontal-grid">
        <div>
          <div class="mat-headline-3 mb-2">Troy Bennett</div>
          <div class="mat-body-1 mb-1">Greendale Community College</div>
          <div class="mat-body-1">Air Conditioning Repair</div>
        </div>
        <div class="d-flex">
          <button mat-stroked-button color="primary" class="large rounded-2">
            <span class="px-3">Edit Profile</span>
          </button>
          <button mat-raised-button color="primary" class="large rounded-2">
            <span class="px-3 font-weight-400">+ New Post</span>
          </button>
        </div>
      </div>
      <div class="mat-body-2">
        Let's join forces and navigate this academic adventure together! 🚀
        🤝 #StudentLife #ClassOf2026 #FutureLeadership 🌟
      </div>
    </div>
  </div>
  <div id="account-content">
    <div id="profile-left-column">
      <div class="content-header">
        <div class="mat-headline-2 mb-0">Friends</div>
        <button mat-button color="primary">
          <span class="font-weight-700">See All Friends</span>
        </button>
      </div>
      <div class="column-header width-100 align-items-center">
        <div class="mat-body-2 mb-0 mt-1">12 Friends</div>
      </div>
      <div id="profile-friend-card-container" class="card-container pt-3">
        @for(friend of friends; track friend) {
          <friend-card [friend]="friend" />
        }
      </div>
      <div class="content-header mt-10">
        <div class="mat-headline-2 mb-0">Favorites</div>
        <button mat-button color="primary">
          <span class="font-weight-700">See All Favorites</span>
        </button>
      </div>
    </div>
    <div id="profile-right-column">
      <div class="content-header">
        <div class="mat-headline-2 mb-10">Posts</div>
      </div>
      <div id="profile-post-cards" class="width-100">
        @for(post of posts; track post) {
          <post-card [post]="post" />
        }
      </div>
    </div>
  </div>
  <div class="breathing-room"></div>
</div>
