@use "sass:map";
@use "../../theme/theme" as theme;
@import "../../styles.background-variables";

#account-cover-photo {
  width: 100%;
  height: 250px;
  overflow: hidden;
  border-radius: 0 0 10px 10px;
  box-shadow: 0 11px 22px rgba(0, 0, 0, 0.25);
  &>img {
    $calc: calc(100% + 24px);
    height: $calc;
    width: $calc;
    transform: translate(-12px, -12px);
  }
}

@mixin get-content-width() {
  width: 80%;
  @media (width <= $tablet-breakpoint) {
    width: 90%;
  }
  @media (width <= $mobile-breakpoint) {
    width: 95%;
  }
}


#account-header {
  position: relative;
  display: grid;
  grid-template-columns: auto 1fr;
  grid-column-gap: 32px;
  @include get-content-width();
  margin: auto;
  &>#profile-photo {
    $slide-length: 65px;
    position: relative;
    transform: translateY($slide-length * -1);
    $size: 250px;
    height: $size;
    width: $size;
    &>img {
      height: 100%;
      width: 100%;
      border-radius: 5px;
      box-shadow: 0 11px 22px rgba(0, 0, 0, 0.25);
    }
    &::before {
      $border-width: 6px;
      $calc: calc(100% + $border-width * 2); // Double to cover both opposite sides
      content: '';
      position: absolute;
      height: calc($slide-length + $border-width);
      width: $calc;
      background: map.get(theme.$md-accentpalette, 300);
      border-radius: 10px 10px 0 0;
      top: 0;
      left: 50%;
      transform: translate(-50%, -6px);
      box-shadow: -11px 11px 11px rgba(0, 0, 0, 0.2) inset,
        0 11px 11px rgba(0, 0, 0, 0.2) inset,
        11px 0 11px rgba(0, 0, 0, 0.2) inset;
      z-index: -1; // Slide content under real element
    }
  }
  &>#profile-context { // Grid >>> Title/Buttons + Bio
    padding-top: 20px;
    display: grid;
    grid-template-rows: auto 1fr;
    &>.horizontal-grid { // Grid >>> Title + Buttons
      display: grid;
      grid-template-columns: 1fr 1fr;
      &>div:last-child { // Post buttons
        display: flex;
        justify-content: end;
        gap: 12px;
      }
    }
    &>div:last-child {
      font-size: 16px;
      line-height: 28px;
    }
  }
}

#account-content {
  display: grid;
  grid-template-columns: 3fr 5fr;
  grid-column-gap: 24px;
  @include get-content-width();
  margin: auto;
  &>div {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  & .content-header {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  &>#profile-left-column {
    container: left-column / inline-size;
    & .card-container {
      $gap: 12px;
      width: 100%;
      display: flex;
      flex-wrap: wrap;
      gap: $gap;
      &::ng-deep  {
        & friend-card, &>img {
          width: calc(33% - $gap * 2 / 3)
        }
      }
    }
  }
  &>#profile-right-column {
    &>.content-header {
      margin-top: 6px; // Pull this into alignment with "Friends" text
    }
    &>#profile-post-cards::ng-deep post-card>mat-card {
      margin-bottom: 24px;
    }
  }
}

.route-page-wrapper {
  @include background-config-2();
  background-position-y: -250px;
  &>.breathing-room {
    height: 48px;
  }
}

@container left-column (width <= 400px) {
  #profile-friend-card-container {
    justify-content: space-around;
    $gap: 6px;
    gap: $gap !important;
    & friend-card, &>img {
      width: calc(50% - $gap / 2) !important;
    }
  }
}
